@use "./variables" as global;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: global.$dark-gray;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-height: 100dvh;
  max-width: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
  text-underline-offset:0.25rem;
  height: fit-content;
}
